# Директории сборки CMake
build/
bin/
out/

# Файлы сборки CMake (на случай сборки прямо в корне)
CMakeCache.txt
CMakeFiles/
CMakefiles/
cmake_install.cmake
Makefile
install_manifest.txt

# Скомпилированные файлы
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
Lab3


# Настройки сред разработки (IDE)
.vscode/
.idea/
*.user
*.suo
*.sln
.vs/
